* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: orange;
}
.container {
    padding: 0 50px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    padding: 15px 0;
}
.header-top-left {
    float: left;
}
.header-top-left > a {
    color: #fff;
    margin-left: 20px;
    font-size: 24px;
    line-height: 26px;
}
.header-top-right {
    float: right;
    z-index: 2;
}
.header-top-right > img {
    width: 30px;
    height: auto;
    transform: rotate(-30deg);
    margin-bottom: -40px;
    
}
.header-center {
    background-color: grey;
}
.jumbotron {
    background-color: grey;
    align-items: center;
    margin-bottom: 0;
}
.jumbotron-left > h1 {
    margin-top: 50px;
}
.jumbotron-left > h1 > span {
    color: teal;
    font-weight: 700;
}
.jumbotron-right > img {
    width: 550px;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: rgb(255, 165, 0);
    border-color: #fff;
}
.btn-primary:hover {
    background-color: rgba(255, 166, 0, 0.66);
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 4rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin-top: 15px;
}
.header-bottom {
    background-color: rgb(80, 199, 118);
}
.header-bottom-text {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
}
.header-bottom > .container > p {
    margin-bottom: 0;
}

.solutions {
    background-color: rgb(166, 233, 217);
    padding: 50px 0;
}
.solutions-title > p > span {
   font-weight: 900;
}
.solutions-title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.solutions-icon {
    display: flex;
    justify-content: center;
    margin-top: -100px;

}
.solutions-icon-item {
    padding: 50px;
    border-radius: 100%;
    background-color: rgb(80, 77, 77);
    margin: 0 15px;
}
.solutions-icon-item > svg {
 color: rgb(11, 124, 124);
}
.solutions > hr {
    border-top: 2px solid rgba(0,0,0,1);
    border-style: dashed;
    margin-top: 150px;
}