* {
    box-sizing: border-box;
    margin: 0;
}
ul, li {
    list-style-type: none;
}

.header {
    background-color: orange;
}
.container {
    padding: 0 50px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    padding: 15px 0;
}
.header-top-left {
    float: left;
}
.header-top-left > a {
    color: #fff;
    margin-left: 20px;
    font-size: 24px;
    line-height: 26px;
}
.header-top-right {
    float: right;
    z-index: 2;
}
.header-top-right > a > p {
    background: rgb(241, 206, 142);
    transform: rotate(-30deg);
    margin-bottom: -40px;
    font-size: 8px;
    text-align: center;
    padding: 10px 10px;
    color: black;
    
}
.header-center {
    background-color: grey;
}
.jumbotron {
    background-color: grey;
    align-items: center;
    margin-bottom: 0;
}
.jumbotron-left > h1 {
    margin-top: 50px;
}
.jumbotron-left > h1 > span {
    color: teal;
    font-weight: 700;
}
.jumbotron-right > img {
    width: 550px;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: rgb(255, 165, 0);
    border-color: #fff;
}
.btn-primary:hover {
    background-color: rgba(255, 166, 0, 0.66);
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 4rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin-top: 15px;
}
.header-bottom {
    background-color: rgb(80, 199, 118);
}
.header-bottom-text {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
}
.header-bottom > .container > p {
    margin-bottom: 0;
}

.solutions {
    background-color: rgb(166, 233, 217);
    padding: 50px 0 100px;
}
.solutions-title > p > span {
   font-weight: 900;
}
.solutions-title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.solutions > hr {
    border-top: 2px solid rgba(0,0,0,1);
    border-style: dashed;
    margin-top: 150px;
}
.solutions-icon {
    display: flex;
    justify-content: center;
    margin-top: -100px;

}
.solutions-icon-item {
    padding: 50px;
    border-radius: 100%;
    background-color: rgb(80, 77, 77);
    margin: 0 15px;
}
.solutions-icon-item > svg {
 color: rgb(11, 124, 124);
}

.benefits, .aboutus, .clients, .contact {
    background-color: orange;
    color: #fff;
    padding-bottom: 125px;
}
.media-top, .aboutus-top, .clients-top, .contact-top {
    text-align: center;
    color: #fff; 
}
.media-top-logo > i.fas.fa-lightbulb, .aboutus-top-logo > i.fab.fa-atlassian, .clients-top-logo > i.fas.fa-suitcase, .contact-top-logo > i.fas.fa-id-card-alt {
    width: 2em;
    height: 1em;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    overflow: hidden;
    background: orange;
    margin-top: -75px;
    padding-top: 15px;
    font-size: 100px;
}
.media-top-title > h2, .aboutus-top-title > h2, .clients-top-title > h2, .contact-top-title > h2 {
    text-transform: uppercase;
    margin-top: 10px;
}
.media-body-new, .aboutus-list {
    margin-top: 50px;
}
.media-body-list {
    display: flex;
    justify-content: flex-start;
}
.media-body-list > p {
 line-height: 24px;
 margin-left: 15px;
}
.media-body-left {
    align-items: center;
}
.media-body-left-content {
    padding: 35px 0;
}
.media-body-left-content > p {
    font-size: 12px;
}
.media-body-right > img {
    width: 500px;
}
.aboutus {
    background-color: rgb(36, 33, 28);
    padding-bottom: 75px;
}
.aboutus-top-logo > i.fab.fa-atlassian {
    background: rgb(36, 33, 28);
}
.list-unstyled-aboutus > .media > i.far.fa-address-card {
    padding: 30px;
    border-radius: 100%;
    background-color: rgb(109, 180, 246);
    margin: 0 15px;
    font-size: 36px;
}
.clients {
    background-color: #fff;
    padding-bottom: 50px;
}
.clients-top {
    color: orange; 
}
.clients-top-logo > i.fas.fa-suitcase {
    width: 2em;
    height: 1em;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    overflow: hidden;
    background: #fff;
    margin-top: -75px;
    padding-top: 15px;
    font-size: 100px;
}
.fa-suitcase:before {
    color: orange;
}
.clients-content-item > img {
    max-height: 100px;
    width: auto;
}
.contact {
    margin-top: 75px;
    background-color: rgb(162, 216, 241);
    padding-bottom: 100px;
}
.contact-top-logo > i.fas.fa-id-card-alt {
    width: 2em;
    height: 1em;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    overflow: hidden;
    background: rgb(162, 216, 241);
    margin-top: -75px;
    padding-top: 15px;
    font-size: 100px;
}
textarea.form-control {
    height: 162px;
}
.footer {
    background-color: rgb(80, 77, 77);
    color: #fff;
}
.footer-text > p {
    padding: 15px 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

